<div class="row filterRow">
    <div class="col-md-12">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-inline">
            <div class="form-group">
                <label for="cityName">City: </label>
                <input name="cityName" ngModel #cityName="ngModel" type="text" class="form-control" id="cityName" placeholder="Enter City">
            </div>
            <div class="form-group">
                <label for="sportsName">Sports: </label>
                <input name="sportsName" ngModel #sportsName="ngModel" type="text" class="form-control" id="sportsName" placeholder="Enter Sports">
            </div>
            <div class="form-group">
                <label for="dateRange">Date Start Range: </label>
                <input name="dateRange" ngModel #dateRange="ngModel" type="text" class="form-control" id="dateRange" placeholder="Select Date Range"
                [matDatepicker]="myDatepicker" [min]="minDate" [max]="maxDate">
                <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
            <!-- 
                <input name="dateRange" ngModel #dateRange="ngModel" type="text" class="form-control" id="dateRange" placeholder="Select Date Range"
                bsDaterangepicker [bsConfig]="{ isAnimated: true }" [minDate]="minDate" [maxDate]="maxDate">
             -->
            </div>

            <div class="form-group">
                <label for="dateRangeEnd">Date End Range: </label>
                <input name="dateRangeEnd" ngModel #dateRangeEnd="ngModel" type="text" class="form-control" id="dateRangeEnd" placeholder="Select Date Range"
                [matDatepicker]="myDatepicker2" [min]="minDateEnd" [max]="maxDateEnd">
                <mat-datepicker-toggle [for]="myDatepicker2"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker2></mat-datepicker>
            </div>

            <button type="submit" class="btn btn-primary form-control">
                Search <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
</div>


<div class="row eventsContent">
    <div *ngFor="let sportsEvent of (sportsEvents || [])" class="col-md-12 sportsEventClass">
        <div class="card text-center">
            <div class="card-header">
                <!-- {{sportsEvent._embedded.attractions[1].classifications[0].genre.name}} : 
                {{sportsEvent._embedded.attractions[1].classifications[0].subGenre.name}} -->
            </div>
            <div class="card-body">
                <h5 class="card-title">{{sportsEvent?.name}}</h5>
                <div>
                    <a href="{{sportsEvent?.url}}" target="_blank"
                    *ngIf="sportsEvent?.priceRanges" title="{{sportsEvent?.priceRanges[0]?.currency}} {{sportsEvent?.priceRanges[0]?.min}} - {{sportsEvent?.priceRanges[0]?.max}}">TicketMaster Deals</a>
                </div>
                <div>
                    <a href="http://localhost:4200/eventDetail/{{sportsEvent?.id}}" class="btn btn-success">Buy Tickets</a>
                </div>
            </div>
            <div class="card-footer text-muted">
                {{sportsEvent?.dates?.start?.localDate}} {{sportsEvent?.dates?.start?.localTime}}
            </div>
        </div>
    </div>
</div>
