<!-- <p>chicago-divvy-stations works!</p> -->
<h4>Divvy Stations</h4>

<agm-map [(latitude)]="placeSelected.latitude" [(longitude)]="placeSelected.longitude" [(zoom)]="placeSelected.zoom" [disableDefaultUI]="true" [zoomControl]="true" >

    <agm-marker
    (markerClick)="clickedMarker('placeSelected', 0)"
    [latitude]="placeSelected.latitude"
    [longitude]="placeSelected.longitude"
    [iconUrl] = "{ url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                  scaledSize: {
                    width: 40,
                    height: 60
                }}" >
  
    <agm-info-window #infoWindow>
      <strong>You have selected this place / stadium</strong>
      <br><br><br>
      <strong>{{placeSelected.name}}</strong>
    </agm-info-window>
    </agm-marker>
  
    <agm-marker
      *ngFor="let m of divvyStations; let i = index"
      (markerClick)="clickedMarker(m.stationname, i)"
      [latitude]="m.latitude"
      [longitude]="m.longitude"
      [label]="m.id">
  
      <agm-info-window #infoWindow>
        <strong>Divvy Station</strong>
        <br><br>
        <strong>{{m.stationname}}</strong>
        <br><br>
        <!-- <strong>status: {{m.status}}</strong>
        <br><br> -->
        <strong>Available Docks: {{m.availabledocks}}</strong>
        <br><br>
        <strong>Available Bikes: {{m.availablebikes}}</strong>
      </agm-info-window>
    </agm-marker>
    
    <!-- <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
        [radius]="5000"
        [fillColor]="'red'"
        [circleDraggable]="true"
        [editable]="true">
    </agm-circle> -->
  </agm-map>
