<!-- *ngIf="{{sportsEvent?.classifications[0]?.subGenre}}" -->
<!-- <img class="img-thumbnail" src='/assets/images/{{sportsEvent.img}}' height='100px' width='200px'> -->
<!-- <img class="img-thumbnail" src='/assets/images/MLB_logo.png' height='100px' width='200px'>
<img class="img-thumbnail" src='/assets/images/NBA_logo.png' height='100px' width='200px'>
<img class="img-thumbnail" src='/assets/images/NFL_logo.png' height='100px' width='200px'> -->
<div class="row eventsContent">
    <div class="col-md-12 sportsEventClass">
        <div class="card text-center">
            <div class="card-header">
                <img class="img-thumbnail sportsEventLogoImg" src="{{sportsEvent?.img}}">
                <h6>{{sportsEvent?.classifications[0]?.subGenre?.name}} : {{sportsEvent?.classifications[0]?.genre.name}}</h6>
                <h5 class="card-title">{{sportsEvent?.name}}</h5>
            </div>
            <div class="card-body">
                <!-- 
                <a href="{{sportsEvent?.url}}" target="_blank"
                    *ngIf="sportsEvent?.priceRanges" title="{{sportsEvent?.priceRanges[0]?.currency}} {{sportsEvent?.priceRanges[0]?.min}} - {{sportsEvent?.priceRanges[0]?.max}}">TicketMaster Deals</a>
                <a href="http://localhost:4200/eventDetail/{{sportsEvent?.id}}" class="btn btn-success">Buy Tickets</a>
                 -->
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Venue: </label>
                                <span> {{sportsEvent?.venueName}}, {{sportsEvent?.venueAddress}}</span> 
                                <a title="Divvy Stations Nearby" href="/chicagoDivvyStations/{{sportsEvent?.venueName}}/{{sportsEvent?.stadiumLat}}/{{sportsEvent?.stadiumLng}}" class="btn btn-success"><i class="fas fa-bicycle"></i></a>
                            </div>
                            <div class="col-md-12">
                                <label>Time: </label>
                                <span> {{sportsEvent?.dates?.start?.localDate}} {{sportsEvent?.dates?.start?.localTime}}</span>
                            </div>
                            <!-- <div #mapContainer id="map"></div> -->
                            <agm-map [(latitude)]="placeSelected.latitude" [(longitude)]="placeSelected.longitude" [(zoom)]="placeSelected.zoom" [disableDefaultUI]="true" [zoomControl]="true" >

                                <agm-marker
                                (markerClick)="clickedMarker('placeSelected', 0)"
                                [latitude]="placeSelected.latitude"
                                [longitude]="placeSelected.longitude"
                                [iconUrl] = "{ url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                                              scaledSize: {
                                                width: 40,
                                                height: 60
                                            }}" >
                                </agm-marker>
                            </agm-map>
                            <hr>
                            <div class="col-md-12">
                                Event Ratings & Reviews:
                                <div *ngFor="let eventReview of (eventReviews || [])" class="row reviewsSection">
                                    <div class="col-md-3 reviewerName">{{eventReview?.user_name}}</div>
                                    <div class="col-md-3 reviewerRating">
                                        <ngb-rating [readonly]="true" [rate]="eventReview?.event_ratings">
                                            <ng-template let-fill="fill" let-index="index1">
                                              <span class="star1" [class.filled]="fill === 100">&#9733;</span>
                                            </ng-template>
                                        </ngb-rating>
                                    </div>
                                    <div class="col-md-6 reviewerComment">{{eventReview?.review_comment}}</div>
                                    <hr class="reviewDifferencatorLine">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                            <div class="form-group">
                                <label for="selectTicketPrice">Ticket Price ({{sportsEvent?.priceRanges[0]?.currency}})</label>
                                <select id="selectTicketPrice" name="selectTicketPrice" class="form-control" #selectTicketPrice="ngModel" ngModel required (change)="calculateTotalPrice(selectTicketPrice.value, numberOfTickets.value)"> <!-- [(ngModel)]="selectTicketPrice" (change)="calculateTotalPrice" -->
                                    <!-- <option value="null">Select Ticket Price</option> -->
                                    <option value="{{sportsEvent?.priceRanges[0]?.min}}">{{sportsEvent?.priceRanges[0]?.min}}</option>
                                    <option value="{{sportsEvent?.priceRanges[0]?.max}}">{{sportsEvent?.priceRanges[0]?.max}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="selectNumberOfTicket">Number of Tickets</label>
                                <select id="numberOfTickets" name="numberOfTickets" class="form-control" #numberOfTickets="ngModel" ngModel required (change)="calculateTotalPrice(selectTicketPrice.value, numberOfTickets.value)"> <!-- [(ngModel)]="selectNumberOfTicket" -->
                                    <!-- <option selected>Select Number of Tickets</option> -->
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <!-- <label for="totalTicketPrice">Total Price ({{sportsEvent?.priceRanges[0]?.currency}})</label> -->
                                <input type="text" placeholder="Total Price" class="form-control" id="totalPrice" name="totalPrice" #totalPrice="ngModel" [(ngModel)]="totalTicketPrice">
                            </div>
                            
                            <input type="hidden" id="ticketMasterEventId" name="ticketMasterEventId" #ticketMasterEventId="ngModel" [(ngModel)]="sportsEvent.id">
                            <input type="hidden" id="eventName" name="eventName" #eventName="ngModel" [(ngModel)]="sportsEvent.name">
                            <input type="hidden" id="eventCity" name="eventCity" #eventCity="ngModel" [(ngModel)]="eventCityName">
                            <input type="hidden" id="eventDate" name="eventDate" #eventCity="ngModel" [(ngModel)]="eventDateTime">
                            <input type="hidden" id="eventSportsName" name="eventSportsName" #eventSportsName="ngModel" [(ngModel)]="eventSportsTypeName">
                            
                            <div class="form-group">
                                <!-- <label for="creditCardNumber">Card Number</label> -->
                                <input type="text" placeholder="Card Number" class="form-control" id="creditCardNumber" name="creditCardNumber" #creditCardNumber="ngModel" ngModel required>
                            </div>
                            <div class="form-group">
                                <!-- <label for="address">Card Address</label> -->
                                <input type="text" placeholder="Card Address" class="form-control" id="address" name="address" #address="ngModel" ngModel required>
                            </div>
                            <button type="submit" [disabled]="f.invalid" class="btn btn-success">Confirm Payment</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <!-- {{sportsEvent?.dates?.start?.localDate}} {{sportsEvent?.dates?.start?.localTime}} -->
                <a href="{{sportsEvent?.url}}" target="_blank">TicketMaster Deals</a>
            </div>
        </div>
    </div>
</div>